click
dnspython
dominate
email-validator
Flask==2.1.2
Flask-Bootstrap==3.3.7.1
Flask-Login==0.6.1
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.0.1
greenlet
idna
importlib-metadata
itsdangerous
Jinja2
MarkupSafe
SQLAlchemy
visitor
Werkzeug
WTForms
zipp
