click
dnspython
dominate
email-validator
Flask
Flask-Bootstrap
Flask-Login
Flask-SQLAlchemy
Flask-WTF
greenlet
idna
importlib-metadata
itsdangerous
Jinja2
MarkupSafe
SQLAlchemy
visitor
Werkzeug
WTForms
zipp
