<!DOCTYPE html>
{% include 'header.html' %}

<html>
  <div class="welcome-box">
    <div class="row">
      <div class="col-lg-6 col-md-10">
        <h1 class="big-header">Taska</h1>
        <h3 class="lower-header">Manage your project tasks with ease...</h3>
      </div>
      <div class="col-lg-6 col-md-10">
        <div class="p-tags">
          <p class="features">
            <i class="fas fa-check-circle"></i> User friendly
          </p>
          <p class="features"><i class="fas fa-check-circle"></i> 100% Free</p>
          <p class="features">
            <i class="fas fa-check-circle"></i> Personal and commercial use
          </p>
        </div>
        {% if not current_user.is_authenticated %}
        <div class="new-user-options">
          <h3 class="lower-header">New Here?</h3>
          <a
            href="{{ url_for('register') }}"
            class="btn btn-outline-dark btn-lg"
            type="button"
            name="button"
            >Get started <i class="fas fa-arrow-right"></i
          ></a>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</html>

